{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Welcome to a simple demo of Movies Recomendation System</h1>
        <p>Information Retrival @UFCG</p>
        <p>Professor: Leandro Balby</p>
        <p class="lead"> This aming to learg how does recomendations using the <a href="http://surpriselib.com">Surprise lib</a>, 
            basically surprise is a Python scikit building and analyzing recommender systems.  The recomendations is about movies 
            and all data used are from <a href="https://grouplens.org/datasets/movielens/">Movielens</a>. The algorithm we use is 
            KNN which is a basic collaborative filtering algorithm, taking into account the mean ratings of each user.</p>

    </div>  
{% endblock %}  